
@media screen and (max-width: 1024px) { /* iPad & iPad Mini */
  .logo {
    margin: 0 3.9%;
  }
  .fetch-presentation {
    width: 56%;
  }
  .presentation-url {
    margin: 15px 0;
  }
  .user {
    margin-right: 3.9%;
    padding: 0;
  }
  .gist-page, .slide-container {
    width: 92.2%;
  }
  .terms {
    width: 62%;
  }
  .contact-form input, .contact-form textarea {
    border: 1px solid #aaa;
  }
  .slide:hover .toolbar .full-screen,
  .slide .start-show {
    display: none;
  }
  .prev-arrow {
    left: -6%;
  }
  .next-arrow {
    right: -6%;
  }
  .slide-container.presenting .slide.active  {
    width: 900px;
    height: 598px;
  }
  .slide:hover .toolbar {
    margin-top: -20px;
  }
  .slide:hover .toolbar img {
    height: 20px;
    margin: 0 5px;
  }
  .slide-container.presenting .slide.active .toolbar img {
    height: 40px;
    margin: 0 15px;
  }
  .slide-container.presenting .slide.active .textbox p,
  .slide-container.presenting .slide.active .textbox pre,
  .slide-container.presenting .slide.active .textbox code {
    font-size: 37px;
  }
  .slide-container.presenting .slide.active .textbox table {
    font-size: 30px;
  }
  .slide-container.presenting .slide.active .textbox h1 {
    font-size: 53px
  }
  .slide-container.presenting .slide.active .textbox h2 {
    font-size: 49px;
  }
  .slide-container.presenting .slide.active .textbox h3 {
    font-size: 43px;
  }
  .slide-container.presenting .slide.active .textbox h4 {
    font-size: 40px;
  }
  .slide-container.presenting .slide.active .textbox h5,
  .slide-container.presenting .slide.active .textbox h6 {
    font-size: 37px;
  }
}
@media screen and (max-width: 768px) { /* Tablets (portrait) */
  .fetch-presentation {
    width: 48%;
  }
  .presentation-url {
    width: 70%;
  }
  .gist-list {
    width: 29%;
  }
  .terms {
    width: 90%;
  }
}
@media screen and (max-width: 640px) { /* Smartphones (portrait) */
  header {
    text-align: center;
    margin-bottom: 20px
  }
  body {
    background-color: rgb(240, 240, 240)
  }
  .logo {
    margin: 25px 0;
    width: 90%;
    text-align: left;
  }
  .fetch-presentation {
    width: 90%;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .get-markdown {
    width: 70px;
    font-size: 9px;
  }
  .user {
    top: 35px;
    margin-right: 5%;
  }
  .user img {
    height: 10px;
  }
  .gist-page, .contact-page {
    width: 90%;
  }
  .gist-list {
    background-color: #fff;
  }
  .primary, .secondary {
    margin: 0;
    width: 100%;
  }
  .contact-us {
    margin-top: 30px;
  }
  form {
    width: 90%;
  }
  .slide-container {
    width: 57%;
  }
  .slide:hover .toolbar .zoom {
    display: none;
  }
  .slide-container {
    width: auto;
    margin: 0;
  }
  .slide-container .slide {
    display: block;
    margin-left: auto;
    width: 402.8px;
    height: 267px;
  }
  .slide:hover .toolbar img {
    height: 28px;
    margin: 5px 10px;
  }
  .slide-container .slide .textbox p,
  .slide-container .slide .textbox pre,
  .slide-container .slide .textbox code {
    font-size: 16px;
  }
  .slide-container .slide .textbox table {
    font-size: 14px;
  }
  .slide-container .slide .textbox h1 {
    font-size: 24px;
  }
  .slide-container .slide .textbox h2 {
    font-size: 21px;
  }
  .slide-container .slide .textbox h3 {
    font-size: 19px;
  }
  .slide-container .slide .textbox h4 {
    font-size: 17px;
  }
  .slide-container .slide .textbox h5,
  .slide-container .slide .textbox h6 {
    font-size: 16px;
  }
  .slide-container .slide .textbox ul,
  .slide-container .slide .textbox ol {
    margin-left: 0.7em;
  }
}
@media screen and (max-width: 414px) { /* iPhone 6 Plus */
  .gist-id li {
    padding: 0 20px;
  }
  .gist-list {
    display: block;
    width: 92%;
    padding: 4%;
  }
}
@media screen and (max-width: 375px) { /* iPhone 6 */
  .slide-container .slide {
    width: 368px;
    height: 244px;
  }
  .slide-container .slide .textbox p,
  .slide-container .slide .textbox pre,
  .slide-container .slide .textbox code {
    font-size: 14.9px;
  }
  .slide-container .slide .textbox table {
    font-size: 12px;
  }
  .slide-container .slide .textbox h1 {
    font-size: 22px;
  }
  .slide-container .slide .textbox h2 {
    font-size: 19.5px;
  }
  .slide-container .slide .textbox h3 {
    font-size: 17.5px;
  }
  .slide-container .slide .textbox h4 {
    font-size: 16px;
  }
  .slide-container .slide .textbox h5,
  .slide-container .slide .textbox h6 {
    font-size: 14.9px;
  }
}
@media screen and (max-width: 360px) { /* Samsung Galaxy Note*/
  .slide-container .slide {
    width: 350px;
    height: 233px;
  }
  .slide-container .slide .textbox p,
  .slide-container .slide .textbox code,
  .slide-container .slide .textbox pre {
    font-size: 14.1px;
  }
  .slide-container .slide .textbox table {
    font-size: 12px;
  }
  .slide-container .slide .textbox h1 {
    font-size: 21px;
  }
  .slide-container .slide .textbox h2 {
    font-size: 18.5px;
  }
  .slide-container .slide .textbox h3 {
    font-size: 16.5px
  }
  .slide-container .slide .textbox h4 {
    font-size: 15px;
  }
  .slide-container .slide .textbox h5,
  .slide-container .slide .textbox h6 {
    font-size: 14.1px;
  }
}
@media screen and (max-width: 320px) { /* iPhone 5 */
  .presentation-url {
    margin: 10px 0;
  }
  footer span {
    margin-right: 15px;
  }
  .gist-id li {
    padding: 0 10px;
  }
  .slide-container .slide {
    width: 315px;
    height: 208px;
  }
  .slide-container .slide .textbox p,
  .slide-container .slide .textbox code,
  .slide-container .slide .textbox pre {
    font-size: 12.5px;
  }
  .slide-container .slide .textbox table {
    font-size: 11px;
  }
  .slide-container .slide .textbox h1 {
    font-size: 18.5px;
  }
  .slide-container .slide .textbox h2 {
    font-size: 16.5px;
  }
  .slide-container .slide .textbox h3 {
    font-size: 14.5px;
  }
  .slide-container .slide .textbox h4 {
    font-size: 13.5px;
  }
  .slide-container .slide .textbox h5,
  .slide-container .slide .textbox h6 {
    font-size: 12.5px;
  }
}