/******************************************************************************
                                 GENERAL RULES
*******************************************************************************/
header {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  background-color: rgb(110,110,110);
  color: #fff;
  padding: 10px 0;
  vertical-align: middle;
}
header a, header a:visited {
  color: #fff;
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8em;
}
a, a:visited {
  text-decoration: none;
}
html {
  line-height: 1;
}
::-webkit-scrollbar { 
  display: none; 
}
/******************************************************************************
                              HEADER AND NAVIGATION
*******************************************************************************/
.logo {
  display: inline-block;
  width: auto;
  margin: 0 8%;
  text-align: left;
  vertical-align: middle;
}
.logo-name {
  display: block;
  font-size: 1.8em;
}
.tagline {
  font-size: 0.8em;
  font-weight: lighter;
}
.user {
  position: absolute;
  margin: 5px 8%;
  top: 30px;
  right: 0;
  width: auto;
  font-size: 0.9em;
  color: #eee;
  text-align: right;
}
.user li {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
}
.alert-box {
  position: absolute;
  width: 100%;
  text-align: center;
  color: brown;
  top: 75px;
}
.fetch-presentation {
  display: inline-block;
  width: 46%;
  text-align: left;
  background-color: #fff;
  border-radius: 1px;
  vertical-align: middle;
  padding: 2px;
  border-radius: 3px;
}
.presentation-url {
  width: 88%;
  margin: 15px 2px;
  outline: none;
  border: none;
  color: #000;
}
.get-markdown {
  width: auto;
  cursor: pointer;
  float: right;
  text-align: center;
  font-size: 0.65em;
  color: #000;
}
.get-markdown img {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  opacity: 0.7;
}

/******************************************************************************
                              NON PRESENTING MODE
*******************************************************************************/
.slide-container {
  width: 82%;
  margin: 0 auto;
  padding: 1%;
  background-color: rgb(240, 240, 240);
  overflow: auto;
}
.slide-container .slide {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 0;
  width: 212px;
  height: 140px;
  float: left;
  background-color: #fff;
  border: none;
  outline: none;
}
.slide-container .slide .textbox {
  margin: 9%;
  height: 70.5%;
  overflow: scroll;
}
html .slide-container .slide .textbox{
  line-height: 1.1;
}
/************************ Text content ************************/
.slide-container .slide .textbox a {
  color: mediumblue;
}
.slide-container .slide .textbox p,
.slide-container .slide .textbox ul,
.slide-container .slide .textbox ol,
.slide-container .slide .textbox pre,
.slide-container .slide .textbox table {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.2em;
  font-family: sans-serif;
  font-size: 0.5em;
}
.slide-container .slide .textbox table {
  -webkit-margin-before: 1em;
  width: 99%;
}
.slide-container .slide .textbox table td {
  border: 1px dotted #000;
  padding: 2%;
}
.slide-container .slide .textbox h1,
.slide-container .slide .textbox h2,
.slide-container .slide .textbox h3,
.slide-container .slide .textbox h4,
.slide-container .slide .textbox h5,
.slide-container .slide .textbox h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.1em;
  font-family: serif;
  font-size: 0.8em;
}
.slide-container .slide .textbox ul,
.slide-container .slide .textbox ol {
  -webkit-padding-start: 1.8em;
}

/************************ Image content ************************/
.slide-container .slide .textbox img {
  position: relative;
  float: right;
  margin-left: 1.5%;
  max-width: 100%;
  width: 30%;
}
.slide-container .slide .textbox p img.float-left {
  float: left;
  margin-right: 5%;
}
.slide-container .slide .textbox p img.medium-img {
  width: 30%;
}
.slide-container .slide .textbox p img.big-img {
  width: 70%;
}
.slide-container .slide .textbox p img.small-img {
  width: 15%;
}
.slide-container .slide img.full-width {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  opacity: 1;
}


/************************ Slide toolbar ************************/
.toolbar, .toolbar img {
  display: none;
  width: 100%;
  text-align: center;
}
.slide:hover .toolbar img{
  display: inline;
  position: relative;
  padding: 2px 4px;
  cursor: pointer;
  width: auto;
  height: 16px;
}
.slide:hover .toolbar {
  display: block;
  position: absolute;
  width: 100%;
  height: 22px;
  margin-top: -18px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

/************************ Slide number ************************/
.slide-number {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40px;
  left: 0;
  font-size: 60px;
  color: rgba(0, 0, 0, 0.2);
}

/******************************************************************************
                                PRESENTING MODE
*******************************************************************************/
.slide-container.presenting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  z-index: 10009;
}
.slide-container.presenting .slide {
  display: none;
}
.slide-container.presenting .slide.active {
  position: relative;
  display: block;
  margin: 0;
  width: 742px; /* 3.5x */
  height: 490px; /* 3.5x */
  background-color: #fff;
  z-index: 10010;
}
.slide-container.presenting .slide.active .textbox {
  margin: 8.5%;
  height: 76%;
}
/************************ Text content ************************/
.slide-container.presenting .slide.active .textbox p,
.slide-container.presenting .slide.active .textbox ul,
.slide-container.presenting .slide.active .textbox ol,
.slide-container.presenting .slide.active .textbox pre,
.slide-container.presenting .slide.active .textbox table {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.2em;
  font-family: sans-serif;
  font-size: 2em;
}
.slide-container.presenting .slide.active .textbox h1,
.slide-container.presenting .slide.active .textbox h2,
.slide-container.presenting .slide.active .textbox h3,
.slide-container.presenting .slide.active .textbox h4,
.slide-container.presenting .slide.active .textbox h5,
.slide-container.presenting .slide.active .textbox h6 {
  font-size: 2.8em;
}
.slide-container.presenting .slide.active .textbox ul {
  -webkit-padding-start: 0.9em;
}
.slide-container.presenting .slide.active .textbox ol {
  -webkit-padding-start: 1.5em;
}
.slide-container.presenting .slide.active .slide-number {
  display: none;
  top: 135px;
  font-size: 200px;
}
/************************  Slide toolbar  ************************/
.slide-container.presenting .slide.active .toolbar {
  height: 45px;
  margin-top: -55px;
  padding: 5px;
}
.slide-container.presenting .slide:hover .toolbar img{
  height: 35px;
  margin: 0 10px;
}
/************************ Prev and next arrows ************************/
.prev-arrow {
  left: -20%;
}
.next-arrow {
  right: -20%;
}
.arrows {
  position: absolute;
  top: 40%;
  height: 60px;
  cursor: pointer;
}

/******************************************************************************
                              FULL SCREEN MODE
*******************************************************************************/
.slide-container.presenting .slide.active.slide-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox {
  margin: 6% 10%;
  height: 77%;
}

/************************ Text content ************************/
.slide-container.presenting .slide.active.slide-fullscreen .textbox p,
.slide-container.presenting .slide.active.slide-fullscreen .textbox ul,
.slide-container.presenting .slide.active.slide-fullscreen .textbox ol,
.slide-container.presenting .slide.active.slide-fullscreen .textbox pre,
.slide-container.presenting .slide.active.slide-fullscreen .textbox table {
  font-size: 3.7em;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox h1,
.slide-container.presenting .slide.active.slide-fullscreen .textbox h2,
.slide-container.presenting .slide.active.slide-fullscreen .textbox h3,
.slide-container.presenting .slide.active.slide-fullscreen .textbox h4,
.slide-container.presenting .slide.active.slide-fullscreen .textbox h5,
.slide-container.presenting .slide.active.slide-fullscreen .textbox h6 {
  font-size: 5.6em;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox ul {
  -webkit-padding-start: 0.9em;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox ol {
  -webkit-padding-start: 1.5em;
}

/******************************************************************************
                                EDITING MODE
*******************************************************************************/
.slide.editable {
  cursor: text;
  outline: 1px dashed #000;
}

/******************************************************************************
                                SWAPPING MODE
*******************************************************************************/
.slide.swapping {
  outline: 1px dashed #000;
}

/******************************************************************************
                         SLIDE ADDER AND SOCIAL SHARER
*******************************************************************************/
.share-buttons {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  clear: both;
}
.share-buttons img {
  margin: 0 6px;
  height: 35px;
}
.share-buttons .github {
  margin: 0 3px;
  height: 43px;
}

/******************************************************************************
                                RESPONSIVE CSS
*******************************************************************************/
@media screen and (max-width: 1305px) {
  .presentation-url {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .fetch-presentation {
    width: 40%;
  }
  .slide-container {
    width: 70%;
  }
  .slide:hover .full-screen {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  .slide-container {
    width: 57%;
  }
  .slide:hover .zoom {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .slide-container {
    width: 63%;
  }
}
@media screen and (max-width: 360px) {
  .slide-container {
    width: 65%;
  }
}
@media screen and (max-width: 320px) {
  .slide-container {
    width: 73%;
  }
}