/******************************************************************************
                                 GENERAL RULES
*******************************************************************************/
header {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  background-color: rgb(110,110,110);
  color: #fff;
  padding: 10px 0;
  vertical-align: middle;
}
header a, header a:visited {
  color: #fff;
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8em;
}
a, a:visited {
  text-decoration: none;
}
html {
  line-height: 1;
}
::-webkit-scrollbar { 
  display: none; 
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
br {
  display: none;
}
/******************************************************************************
                              HEADER AND NAVIGATION
*******************************************************************************/
.logo {
  display: inline-block;
  width: auto;
  margin: 0 8%;
  text-align: left;
  vertical-align: middle;
}
.logo-name {
  display: block;
  font-size: 1.8em;
}
.tagline {
  font-size: 0.8em;
  font-weight: lighter;
}
.user {
  position: absolute;
  margin: 5px 8%;
  top: 30px;
  right: 0;
  width: auto;
  font-size: 0.9em;
  color: #eee;
  text-align: right;
}
.user li {
  display: inline-block;
  padding: 0 0 0 30px;
  list-style: none;
}
.alert-box {
  position: absolute;
  width: 100%;
  text-align: center;
  color: brown;
  top: 90px;
}
.alert-box p {
  margin: 0;
}
.fetch-presentation {
  display: inline-block;
  width: 46%;
  text-align: left;
  background-color: #fff;
  border-radius: 1px;
  vertical-align: middle;
  padding: 2px;
  border-radius: 3px;
}
.presentation-url {
  width: 86%;
  margin: 15px 2px;
  outline: none;
  border: none;
  color: #000;
}
.get-markdown {
  width: auto;
  cursor: pointer;
  float: right;
  text-align: center;
  font-size: 0.65em;
  color: #000;
}
.get-markdown img {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  opacity: 0.7;
}

/******************************************************************************
                              NON PRESENTING MODE
*******************************************************************************/
.slide-container {
  width: 82%;
  margin: 0 auto;
  padding: 1%;
  background-color: rgb(240, 240, 240);
}
.slide-container .slide {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 0;
  width: 212px;
  height: 140px;
  float: left;
  background-color: #fff;
  border: none;
  outline: none;
}
.slide-container .slide .textbox {
  position: absolute;
  margin: 8%;
  width: 84%;
  height: auto;
  overflow: visible;
}
html .slide-container .slide .textbox{
  line-height: 1.1;
}
.slide-container .slide .arrows {
  display: none;
}
/************************ Text content ************************/
.slide-container .slide .textbox a {
  color: mediumblue;
}
.slide-container .slide .textbox p,
.slide-container .slide .textbox pre,
.slide-container .slide .textbox table,
.slide-container .slide .textbox code {
  margin: 0.2em 0.1em;
  font-family: sans-serif;
  font-size: 8.5px;
}
.slide-container .slide .textbox p.list-item {
  margin: 0 0 0.3em 1.5em;
  display: list-item;
}
.slide-container .slide .textbox table {
  margin: 1em 0;
  width: 100%;
  font-size: 7px;
}
.slide-container .slide .textbox table td {
  border: 1px dotted #000;
  padding: 1%;
}
.slide-container .slide .textbox code {
  background-color: #eee;
  word-wrap: break-word;
}
.slide-container .slide .textbox h1,
.slide-container .slide .textbox h2,
.slide-container .slide .textbox h3,
.slide-container .slide .textbox h4,
.slide-container .slide .textbox h5,
.slide-container .slide .textbox h6 {
  margin: 0.2em 0;
  font-family: serif;
}
.slide-container .slide .textbox.h1-box {
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  margin: 0 8%;
}
.slide-container .slide .textbox h1 {
  font-size: 12.5px;
}
.slide-container .slide .textbox h2 {
  font-size: 11px;
}
.slide-container .slide .textbox h3 {
  font-size: 10px;
}
.slide-container .slide .textbox h4 {
  font-size: 9px;
}
.slide-container .slide .textbox h5,
.slide-container .slide .textbox h6 {
  font-size: 8.5px;
}
/************************ Image content ************************/
.slide-container .slide .textbox p img {
  position: relative;
  float: right;
  margin: 0 1.5%;
  max-width: 100%;
  width: 30%;
}
.slide-container .slide .textbox p img.float-left {
  float: left;
  margin-right: 5%;
}
.slide-container .slide .textbox p img.medium-img {
  width: 30%;
}
.slide-container .slide .textbox p img.large-img {
  width: 70%;
}
.slide-container .slide .textbox p img.small-img {
  width: 15%;
}
.slide-container .slide .textbox p img.full,
.slide-container .slide .textbox p img.background,
.slide-container .slide img.background {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
}
.slide-container .slide img.background {
  opacity: 0.2;
}

/************************ Slide toolbar ************************/
.toolbar, .toolbar img {
  display: none;
  text-align: center;
}
.slide:hover .toolbar img{
  display: inline;
  position: relative;
  padding: 2px 4px;
  cursor: pointer;
  width: auto;
  height: 16px;
}
.slide:hover .toolbar {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  z-index: 10050;
}

/************************ Start Show Button ************************/
.start-show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  cursor: pointer;
  z-index: 10030;
}
.start-show:hover {
  opacity: 0.8;
}

/******************************************************************************
                                PRESENTING MODE
*******************************************************************************/
.slide-container.presenting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  z-index: 10009;
}
.slide-container.presenting .slide {
  display: none;
}
.slide-container.presenting .slide.active {
  position: relative;
  display: block;
  margin: 0;
  width: 742px; /* 3.5x */
  height: 490px; /* 3.5x */
  background-color: #fff;
  z-index: 10010;
}
/************************ Text content ************************/
.slide-container.presenting .slide.active .textbox p,
.slide-container.presenting .slide.active .textbox pre,
.slide-container.presenting .slide.active .textbox code {
  font-size: 30px;
}
.slide-container.presenting .slide.active .textbox p.list-item {
  margin: 0 0 0.3em 1em;
}
.slide-container.presenting .slide.active .textbox table {
  font-size: 25px;
}
.slide-container.presenting .slide.active .textbox h1 {
  font-size: 45px;
}
.slide-container.presenting .slide.active .textbox h2 {
  font-size: 39px;
}
.slide-container.presenting .slide.active .textbox h3 {
  font-size: 35px;
}
.slide-container.presenting .slide.active .textbox h4 {
  font-size: 32px;
}
.slide-container.presenting .slide.active .textbox h5,
.slide-container.presenting .slide.active .textbox h6 {
  font-size: 30px;
}
.slide-container.presenting .slide.active .start-show {
  display: none;
}
/************************  Slide toolbar  ************************/
.slide-container.presenting .slide.active .toolbar {
  height: 50px;
  margin-top: -55px;
  padding: 5px;
}
.slide-container.presenting .slide:hover .toolbar img{
  height: 40px;
  margin: 0 10px;
}
/************************ Prev and next arrows ************************/
.prev-arrow {
  left: -20%;
}
.next-arrow {
  right: -20%;
}
.slide-container.presenting .slide.active .arrows {
  display: block;
  position: absolute;
  top: 45%;
  height: 60px;
  cursor: pointer;
}

/******************************************************************************
                              FULL SCREEN MODE
*******************************************************************************/
.slide-container.presenting .slide.active.slide-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
}
/************************ Text content ************************/
.slide-container.presenting .slide.active.slide-fullscreen .textbox p,
.slide-container.presenting .slide.active.slide-fullscreen .textbox pre,
.slide-container.presenting .slide.active.slide-fullscreen .textbox code {
  font-size: 58.5px;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox table {
  font-size: 46px;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox h1 {
  font-size: 86px;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox h2 {
  font-size: 75px;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox h3 {
  font-size: 67.5px;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox h4 {
  font-size: 62px;
}
.slide-container.presenting .slide.active.slide-fullscreen .textbox h5,
.slide-container.presenting .slide.active.slide-fullscreen .textbox h6 {
  font-size: 58.5px;
}
.slide-container.presenting .slide.active.slide-fullscreen .start-show {
  display: none;
}
.slide-container.presenting .slide.active.slide-fullscreen .toolbar {
  display: none;
}

/******************************************************************************
                                SWAPPING MODE
*******************************************************************************/
.slide.swapping {
  outline: 1px dashed #000;
}

/******************************************************************************
                           SLIDE CONTAINER BUTTONS
*******************************************************************************/
.share-buttons {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  clear: both;
}
.share-buttons img {
  margin: 0 8px;
  height: 40px;
  cursor: pointer;
}