/***************************************
         Header & Footer
****************************************/
header {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-bottom: 2px solid #aaa;
}
header a, header a:visited {
  color: #fff;
}
footer {
  text-align: center;
  font-size: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.1em;
  font-family: serif;
}
p, ul, ol, pre, code, table {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.2em;
  font-family: sans-serif;
}
table {
  -webkit-margin-before: 1em;
  width: 99%;
}
td {
  border: 1px dotted #000;
  padding: 2%;
}
html {
  line-height: 1.1;
}
a, a:visited {
  text-decoration: none;
  color: mediumblue;
}

/***************************************
        Fetch slide html
****************************************/
.fetch-presentation {
  display: block;
  margin: 30px auto;
  padding: none;
  text-align: center;
}
.presentation-url {
  width: 50%;
  margin: 0;
  padding: 1px;
  outline: none;
  font-size: 0.9em;
}
.get-markdown {
  width: 30px;
  cursor: pointer;
}

/***************************************
     Slide adder and social sharer
****************************************/
.slide-container-buttons {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  clear: both;
}
.slide-container-buttons img {
  margin: 0 5px;
  height: 30px;
}
.slide-container-buttons .github {
  margin: 0 2px;
  height: 38px;
}

/***************************************
        Non-presenting mode
****************************************/
.slide-container {
  width: 82%;
  margin: 0 auto 20px;
  padding: 1%;
  background-color: rgb(240, 240, 240);
  overflow: auto;
}
.slide-container .slide {
  display: inline-block;
  position: relative;
  float: left;
  margin: 12px;
  padding: 0;
  background-color: #fff;
  border: none;
  outline: none;
}
.toolbar, .toolbar img {
  display: none;
  width: 100%;
  text-align: center;
}
.slide:hover .toolbar img{
  display: inline;
  position: relative;
  padding: 2px 4px;
  cursor: pointer;
  width: auto;
  height: 16px;
}
.slide:hover .toolbar {
  display: block;
  position: absolute;
  width: 100%;
  height: 22px;
  margin-top: -18px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.slide-number {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40px;
  left: 0;
  font-size: 60px;
  color: rgba(0, 0, 0, 0.2);
}

/***************************************
        Presenting mode
****************************************/

.slide-container.presenting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  z-index: 10009;
}
.slide-container.presenting .slide {
  display: none;
}
.slide-container.presenting .slide.active {
  position: relative;
  display: block;
  margin: 0;
  background-color: #fff;
  z-index: 10010;
}
.slide-container.presenting .slide.active .slide-number {
  display: none;
  top: 135px;
  font-size: 200px;
}
.slide-container.presenting .slide.active .toolbar {
  height: 40px;
  margin-top: -50px;
  padding: 5px;
}

.slide-container.presenting .slide:hover .toolbar img{
  width: auto;
  height: 35px;
  margin: 0 10px;
}
.prev-arrow {
  left: -20%;
}
.next-arrow {
  right: -20%;
}
.arrows {
  position: absolute;
  top: 40%;
  height: 60px;
  cursor: pointer;
}

/***************************************
        Slide image content
****************************************/
.textbox {
  overflow: hidden;
}
.textbox img {
  position: relative;
  float: right;
  margin: 0 0 0 1.5%;
  max-width: 100%;
  width: 30%;
}
p img.float-left {
  float: left;
  margin: 0 5% 0 0;
}
p img.small-img {
  width: 15%;
}
p img.big-img {
  width: 60%;
}

/***************************************
            Edit Mode
****************************************/
.slide.editable {
  cursor: text;
  outline: 1px dashed #000;
}

/***************************************
            Swap Mode
****************************************/
.slide.swapping {
  outline: 1px dashed #000;
}

/***************************************
            Responsive CSS
****************************************/
@media screen and (max-width: 1024px) {
  .slide-container {
    width: 70%;
  }
  .slide:hover .full-screen {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .slide-container {
    width: 57%;
  }
  .slide:hover .zoom {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .slide-container {
    width: 63%;
  }
}

@media screen and (max-width: 360px) {
  .slide-container {
    width: 65%;
  }
}

@media screen and (max-width: 320px) {
  .slide-container {
    width: 73%;
  }
}