/******************************************************************************
                                 Header & Navigation
*******************************************************************************/
.user {
  position: absolute;
  top: 20px;
  margin: 5px 8%;
  right: 0;
}
.user img {
  height: 15px;
  padding: 10px;
  background-color: rgb(240,240,240);
}
.user img:hover {
  background-color: rgb(250,250,250);
}
/******************************************************************************
                                     Gist List
*******************************************************************************/
.gist-page {
  width: 84%;
  margin: 0 auto 50px;
  text-align: left;
}
.gist {
  display: inline-block;
  margin: 0;
  width: 100%;
}
ul.gist-id {
  margin: 0;
  padding: 0;
}
.gist-id li {
  display: inline-block;
  padding: 0 30px;
  border-left: 1px solid rgb(110, 110, 110);
}
.gist-id li:first-child {
  padding-left: 0;
  border-left: none;
}
.gist-id li:last-child {
  padding-right: 0;
}
.gist-id a, .gist-id a:visited {
  color: rgb(110, 110, 110);
}
.gist-list {
  display: inline-block;
  margin: 20px 1% 0 0;
  padding: 0.9%;
  width: 30%;
  font-size: 0.9em;
  background-color: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 3px;
}
.gist-list:last-child {
  margin-right: 0;
}
.gist-list a, .gist-list a:visited {
  color: #000;
}
.gist-id a:hover, .gist-list a:hover {
  color: brown;
}
.gist-list:hover {
  background-color: rgb(245, 245, 245);
}
.gist-list span {
  display: block;
}
.gist-list .description {
  font-size: 0.8em;
  color: rgb(110,110,110);
}
.gist-list img {
  float: left;
  width: 45px;
  margin-right: 5px;
  padding: 0;
}
/******************************************************************************
                            Terms, Privacy and Contact
*******************************************************************************/
.terms {
  width: 55%;
  margin: 0 auto;
}
.terms span {
  font-size: 0.8em;
}
.terms h4, .contact-page h4 {
  margin: 30px 0 -10px;
}
.terms p, .contact-page p {
  line-height: 1.2;
  font-size: 0.9em;
}
.terms a, .terms a:visited,
.contact {
  color: brown;
}
.primary, .secondary {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.primary {
  margin-right: 120px;
}
.contact-page a {
  color: brown;
}
h3.support {
  margin-top: 30px;
}
.contact-form label, button {
  display: block;
  margin-bottom: 3px;
  font-size: 0.8em;
  font-weight: bold;
}
form {
  width: 65%;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: 1px solid rgb(110, 110, 110);
}
.contact-form textarea {
  border: 1px solid #ccc;
  margin: 0;
  height: 50px;
}
.contact-page {
  width: 84%;
  margin: 0 auto;
}
form button {
  margin-top: 5px;
}
