<div class="terms">
  <h2>Terms of Service</h2>
  <div >
    <span>Last updated: July 1, 2015</span>
    <p>Please read these Terms of Service ("Terms") carefully before using the <strong>www.presidentialjs.com</strong> website ("Presidential", the "Service").</p>
    <p>The Terms set forth the legally binding terms and conditions for your use of Presidential. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These apply to all visitors, users and others who access or use the Service.</p>
    <p>By access or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

    <h4>Third-party Services</h4>
    <p>Presidential may request access to your personal data hosted on a third-party website or services. By accepting such request, you expressively agree to provide and authorize the access and usage of such data.</p>
    <p>Presidential has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third-party websites or services. You further acknowledge and agree that Presidential shall not be responsible or liable, directly or indirectly for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such websites or services.</p>

    <h4>Governing Law</h4>
    <p>These Terms shall be governed under the Washington state law, with regard to its conflict of law provisions.</p>
    <p>The failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between you and Presidential, and supersede and replace any prior versions of the Terms of Service.</p>

    <h4>Changes</h4>
    <p>Presidential reserves the right, at its sole discretion, to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</p>
    <p>By continuing to access or use the Service after those revisions become effective, you agree to be bound by the revised terms.</p>

    <h4>Questions</h4>
    <p>If you have any questions about this Terms of Service, please contact us.</p>
  </div>
</div>