<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <title>Presidential</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta property="og:title"         content="Check out this presentation I just created online" />
  <meta property="og:image"         content="http://www.presidentialjs.com/img/water-on-water.jpg" />
  <meta property="fb:app_id"        content="820512734710881" /> 
  <meta property="og:type"          content="website" /> 
  <meta property="og:url"           content="http://www.presidentialjs.com/" /> 
  <meta property="og:description"   content="Presidential is a free online tool for creating and editing presentation using Markdown" />
  <meta name="description"          content="Check out this presentation I just created online"

  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="presidential.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/slide.css">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
